@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: linear-gradient(to bottom right, #ffffff, #e0e0e0, #f0f0f0);
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;

    --in: 72.06% 0.191 231.6;
    --fallback-in: #00b3f0;
  }

  .dark {
    --background: linear-gradient(
      to right top,
      hsl(225.9 70.7% 40.2%),
      hsl(226.2, 57%, 25%),
      hsl(200.4 98% 39.4%)
    );
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 81%;
    --input: 220 13% 81%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[image:var(--background)] text-foreground;
  }
}

@layer utilities {
  .text-info {
    --tw-text-opacity: 1;
    color: var(--fallback-in, oklch(var(--in) / var(--tw-text-opacity)));
  }
  .barcode-generator-content {
    height: 100%;
    max-height: 800px;
  }

  .small-screen-layout {
    display: none;
  }

  .large-screen-layout {
    display: block;
  }

  .panel {
    display: none;
  }

  .panel.active {
    display: block;
  }

  @media (max-width: 768px) {
    .small-screen-layout {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .large-screen-layout {
      display: none;
    }
  }
}
